body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 40px;
    text-align: center;
    background-color: mistyrose;
}
.card {
    background-color: wheat;
    max-width: 400px;
    padding: 40px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px plum;
    /* If there are multiple properties that have a transition, you can write the values for each separated by a comma:
    p {
        transition: property1 0.1s, property2 0.6s linear;
    }*/
    transition: transform 0.3s, background-color 0.3s ease;
}
.card:hover {
    background-color: hotpink;
    transform: scale(1.1);
}
h1::before {
    content: "🥳 ";
}
h1::after {
    content:" 🥳";
}
.message {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    margin-bottom: 20px;
    color: black;
}
.card-links {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.card-links a {
    text-decoration: none;
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background-color: #000029;
}
.card-links a:hover {
    background-color: #FF1493;
}