body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background: floralwhite;
    padding: 10px;
}
.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: floralwhite;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #000;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
button {
    width: 100%;
    padding: 10px;
    background-color: darkgreen;
    font-size: 14px;
    border: none;

}
button:hover {
    background-color: #55680D;

}

.radio-group {
    display: flex;
    align-items: center;
    margin-top: 10px;

}
.radio-group input[type="radio"] {
    width: 25px;
    appearance: none;
    border: 2px solid goldenrod;
}
.radio-group input[type="radio"]:checked {
    border-color: #55680D;
    background-color: #888989;
    box-shadow: 0 0 2px darkgreen;
}
.radio-group input[type="radio"]:checked + label {
    color: green;
}
input:first-of-type  {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #0a0a23;
    border-radius: 5px;
    box-sizing: border-box;
}
input:focus, textarea:focus {
    border: 2px solid #55680D;
    outline: none;
}
input:invalid, select:invalid, textarea:invalid {
    border-color: goldenrod;
}
input:valid, select:valid, textarea:valid {
    border-color: green;
}
