.input, .textarea:focus {
    border-color: #55680D;
}
.input .select, .textarea:invalid {
    border-color: red;
}
.input, .textarea:valid {
    border-color: green;
}
button:hover {
    background-color: #55680D;
}
.radio-group input[typed="radio"]:checked {
    background-color: #ffcf33;
    box-shadow: 2px 2px 2px #ffcf33;
}
.radio-group input[typed="radio"]:checked {
    color: #55680D;
}
.radio-group input[typed="radio"]:first-of-type  {
    list-style-type: circle;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}