body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background: floralwhite;
    padding: 10px;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: floralwhite;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #000;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #FF1493;
    font-size: 14px;
    border: none;
}
button:hover {
    background-color: #55680D;
}

.radio-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.radio-group input[typed="radio"] {
    width: 25px;
    background-color: #ffcf33;
    box-shadow: 2px 2px 2px #ffcf33;
}
.radio-group input[typed="radio"]:checked {
    border-color: #55680D;
    background-color: #888989;
    box-shadow: 2px 2px 2px #888888;
}
.radio-group input[typed="radio"]:first-of-type  {
    list-style-type: circle;
}
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #0a0a23;
    border-radius: 5px;
    box-sizing: border-box;
}
input:focus, textarea:focus {
    border: 2px solid #55680D;
    outline: none;
}
input:invalid, select:invalid, textarea:invalid {
    border-color: red;
}
input:valid, select:valid, textarea:valid {
    border-color: green;
}
