h2 {
    text-align: center;
}
.form-container {
    background-color: floralwhite;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
}
label {
    margin: 10px 0;
    color: #00471b;
    font-weight: bold;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
button {
    background-color: #55680D;
    font-size: 25px;
    position: relative;
    display: block;
}
button:hover {
    background-color: #FF1493;
    transition: font-size 0.5s ease;
}