body{
    width: 100%;
    /* The vh unit stands for viewport height, and is equal to 1% of the height of the viewport.  */
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
}

label {

    display: block;

    /* The rem unit stands for root em, and is relative to the font size of the html element.*/
    margin: 0.5rem 0;
}
h1, p {
    text-align: center;
    margin: 1em auto;
}
form {
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    width: 60vw;
    padding-bottom: 2em;
}
fieldset {
    padding: 2rem 0;
    border: none;
    border-bottom: 3px solid #3b3b4f;
}
fieldset:last-of-type{
    /* select the last element of a specific type using the last-of-type CSS pseudo-class. */
    border-bottom: none;
}
input, textarea, select {
    width: 100%;
    margin: 10px 0 0 0;
    min-height: 2em;

}
.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}
input, textarea {
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
}

/* use an attribute selector to style the submit button,
which selects an element based on the given attribute value. */
input[type="submit"]{
    display: block;
    min-width: 300px;
    /* margin: top right left bottom */
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
}
form[type="submit"]{
    margin: 0 auto;
}
input[type="file"]{
    padding: 1px 2px;
}
a {
    color: #dfdfe2;
}