.blog-post-card {
    background: floralwhite;
    width: 100%;
    text-align: center;
    /* Round corners.*/
    border-radius: 10px;
}
.post-img {
    width: 100%;
    display: block;
    border-bottom: 2px solid goldenrod;
    padding: 15px;
}
.post-content {
    padding: 10px;
}
.read-more:hover {
    color: floralwhite;
    text-decoration: underline;
}
.read-more {
    color: goldenrod;
    background-color: #55680D;
    margin: auto;
    display: grid;
    border-radius: 10px;
    padding: 10px;
    transition: color 0.3s ease-in-out;
}
.post-title {
    margin: 10px;
    color: black;
}
.post-excerpt {
    margin: 10px;
    color: black;
}