html {
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    color: #0a0a23;
}
/* will select any span element whose class includes sr-only. */
span[class~="sr-only"] {
    border: 0;
    /* clip property is used to define the visible portions of an element. */
    clip: rect(1px, 1px, 1px, 1px);
    /* The clip-path property determines the shape the clip property should take. */
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    white-space: nowrap;
    /* To prevent the text content from overflowing. */
    overflow: hidden;
    /* take these hidden elements out of the document flow. */
    position: absolute;
    padding: 0;
    margin: -1px;
}
h1 {
    max-width: 37.25rem;
    margin: 0 auto;
    padding: 1.5rem 1.25rem;
}