html {
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    color: #0a0a23;
}
/* will select any span element whose class includes sr-only. */
span[class~="sr-only"] {
    border: 0;
    /* clip property is used to define the visible portions of an element. */
    clip: rect(1px, 1px, 1px, 1px);
    /* The clip-path property determines the shape the clip property should take. */
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    white-space: nowrap;
    /* To prevent the text content from overflowing. */
    overflow: hidden;
    /* take these hidden elements out of the document flow. */
    position: absolute;
    padding: 0;
    margin: -1px;
}
h1 {
    max-width: 37.25rem;
    margin: 0 auto;
    padding: 1.5rem 1.25rem;

}
h1 .flex {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
}
/* targets the first span element in my .flex container. */
h1 .flex span:first-of-type {
    font-size: 0.7em;
}
/* targets the last element that matches the selector. */
h1 .flex span:last-of-type {
    font-size: 1.2em;
}
section {
    max-width: 40rem;
    margin: 0 auto;
    border: 2px solid #d0d0d5;
}
#years {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    color: #fff;
    background-color: #0a0a23;
    margin: 0 -2px;
    /* The calc() function is a CSS function that allows you to calculate a value based on other values. */
    padding: 0.5rem calc(1.25rem + 2px) 0.5rem 0;
    z-index: 999;
}
/* The span[class] syntax will target any span element that has a class attribute set,
regardless of the attribute's value. */
#years span[class] {
    font-weight: bold;
    width: 4.5rem;
    text-align: right;
}
