#house {
    position: relative;
    width: 500px;
    height: 400px;
    background-color: #fec7d7;
    border: 5px solid #FF1493;
    z-index: 1;
}
#chimney {
    position: absolute;
    width: 50px;
    height: 100px;
    border: 5px solid #1b1b32;
    background-color: #0e172c;
    top: -100px;
    z-index: 2;
}
#roof {
    position: absolute;
    width: 600px;
    height: 100px;
    border: 5px solid #0a0a23;
    background-color: #000029;
    top: 0;
}
#window-1 {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 5px solid #ffcf33;
    background-color: #b5a584;
    left: 50px;
    top: 100px;
}
#window-2 {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 5px solid #ffcf33;
    background-color: #b5a584;
    right: 50px;
    top: 100px;
}
#door {
    position: absolute;
    width: 100px;
    height: 200px;
    border: 5px solid #888989;
    background-color: #d0d0d5;
    bottom: 0;
    right: 200px;
}