:root {
    --house-color: #fec7d7;
    --house-border: #FF1493;
    --chimney-color: #0e172c;
    --chimney-border: #1b1b32;
    --roof-color: #000029;
    --roof-border: #0a0a23;
    --roof-fill: #094067;
    --window-colour: #b5a584;
    --window-border: #ffcf33;
    --door-color: #d0d0d5;
    --door-border: #888989;
    --door-knob: #3b3b4f;
    --sky-color: #356eaf;
    --welcome-sign-color: #55680D;
    --grass-color: #116C31;
}
/* Universal selector, applies to all elements on the page.*/
*{
    box-sizing: border-box;
}
body {
    background: linear-gradient(
            var(--sky-color) 60%,
            var(--grass-color) 60%,
    );
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#house {
    position: relative;
    width: 500px;
    height: 400px;
    background-color: var(--house-color);
    border: 5px solid var(--house-border);
    z-index: 1;
}
#chimney {
    position: absolute;
    width: 50px;
    height: 100px;
    border: 5px solid var(--chimney-border);
    background-color: var(--chimney-color);
    top: -100px;
    z-index: 2;
}
#roof {
    position: absolute;
    width: 100%;
    height: 100px;
    border: 5px solid var(--roof-border);
    background: repeating-linear-gradient(
            45deg,
            var(--roof-border),
            var(--roof-border) 2%,
            transparent 2%,
            transparent 5% ),
            repeating-linear-gradient(
            -45deg,
            var(--roof-border),
            var(--roof-border) 2%,
            var(--roof-fill) 2%,
            var(--roof-fill) 5% );
    );
    top: 0;
}
#window-1, #window-2 {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 5px solid var(--window-border);
    background: linear-gradient(to right,
    var(--window-colour) 48%,
    var(--window-border) 48%,
    var(--window-border) 52%,
    var(--window-colour) 52%
    );
    top: 40%;
}
#window-1 {
    left: 7.5%;
}
#window-2 {
    right: 7.5%;
}

#door {
    position: absolute;
    width: 130px;
    height: 180px;
    border: 5px solid var(--door-border);
    background-color: var(--door-color);
    bottom: 0;
    right: 185px;
    transform: translateY(3px);
}

#door-knob {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--door-knob);
    border-radius: 50%;
    top: 50%;
    right: 5%;
}