* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: floralwhite;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 5rem;
}
section {
    margin-top: 40px;
}
#navbar {
    background-color: floralwhite;
    width: 100%;
    border-bottom: 1px solid;
    font-weight: bold;
    resize: horizontal;
    overflow-x: scroll;
}
#navbar li {
    color: white;
    border-top: 1px solid #888989;
    list-style: none;
    font-size: calc(10px + 2vmin);
}
#navbar a {
    cursor: pointer;
    text-decoration: none;
    padding: 14px 30px;
    display: block;
    color: darkslategray;
    font-size: 32px;
    transition: text-indent 1s ease-in-out;
}
#navbar a:hover {
    color: #FF1493;
    font-weight: bold;
    text-indent: 5px;
}
p {
    margin: 10px;
    font-size: calc(10px + 2vmin);
}
ol {
    margin: 0 auto;
    font-size: calc(10px + 2vmin);
    list-style-type: disc;
    padding-left: 45px;
}

#main-doc {
    margin: 0 5px;
}
header {
    color: lightseagreen;
    margin: 10px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
code {
    display: block;
    text-align: left;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    background-color: #fff;
    padding: 0 16px;
    margin: 16px;
    border-radius: 4px;
    font-size: calc(10px + 2vmin);
}
.image {
    width: 100%;
    margin-top: 30px;
    position: relative;
}
footer {
    padding: 30px;
    color: lightseagreen;
    margin: 10px;
    text-align: center;
    font-size: calc(10px + 2vmin);
}
@media only screen and (min-width: 800px) {
    body {
        flex-direction: row;
    }
    #navbar {
        width: 300px;
        height: 100%;
        position: fixed;
    }
    .image {
        width: 70%;
        margin-left: 40px;
    }
    #main-doc {
        margin: 0 30px;
        margin-left: 450px;
    }
}