body {
    font-family: "Open Sans", sans-serif;
}
html {
    font-size: 16px;
}
.label {
    border: 2px solid black;
    /* it's actually 288 pixels wide instead of 270. This is because, by default,
    the browser includes the border and padding when determining an element's size.
    to solve this, reset the box model by creating a * selector. */
    width: 270px;
    margin: 20px auto;
    padding: 0 7px;
}
* {
    box-sizing: border-box;
}
header h1 {
    /* make h1 text bolder */
    text-align: center;
    /* giving it a top and bottom margin of -4px and a left and right margin of 0. */
    margin: -4px 0;
    /* The letter-spacing property can be used to adjust the space between each character of text in an element.*/
    letter-spacing: 0.15px;
}
p {
    margin: 0;
    /* add the horizontal spacing using flex */
    display: flex;
    justify-content: space-between;
}
.divider {
    border-bottom: 1px solid #888989;
    margin: 2px 0;
}
.bold {
    font-weight: 800;
}
.large {
    height: 10px;

}
.large, .medium {
    background-color: black;
    border: 0;
}
.small-text {
    /* The rem unit stands for root em.
    0.85rem, which would calculate to roughly 13.6px*/
    font-size: 0.85rem;
}
.calories-info h2 {
    margin: 0;
}
.calories-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.left-container p {
    margin: -5px -2px;
    font-size: 2em;
    font-weight: 700;
}
.calories-info  span{
    font-size: 2.4em;
    font-weight: 700;
    margin: -7px -2px;
}
.medium {
    height: 5px;
}
.right {
    justify-content: flex-end;
}
.indent {
    margin-left: 1em;
}
/* The :not pseudo-selector can be used to select all elements that do not match the given CSS rule.
id of .no-divider */
.daily-value p:not(.no-divider) {
    border-bottom: 1px solid #888989;

}
.double-indent {
    margin-left: 2em;
}
.note {
    font-size: 0.6rem;
    margin: 5px 0;
    /* a left and right padding of 8px, removing the top and bottom padding. */
    padding: 0 8px;
    text-indent: -8px;
}