:root {
    --white: floralwhite;
}
* {
    margin: 0;
}
#header-img {
    width: 60px;
    object-fit: contain;
}
#nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--white);
    padding: 10px;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen {
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #nav-bar {
        transition: background-color 1s ease;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
}