body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen {
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #nav-bar {
        transition: background-color 1s ease;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
}