body {
    background-color: #8cb3d9;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    /* outline: 1px solid #3da9fc; */
    width: 90vw;
    min-height: calc(100vh - 100px);
}
hr {
    width: 80%;
}
section {
    width: 49%;
}