.canvas {
    width: 500px;
    height: 600px;
    background-color: #4d0f00;
    overflow: hidden;
    filter: blur(2px);
}

.frame {
    border: 50px solid black;
    width: 500px;
    /* Use padding to adjust the spacing within an element. */
    padding: 50px;
    /* Use margins to adjust the spacing outside of an element. */
    margin: 20px auto;
}
.one{
    width: 425px;
    height: 150px;
    background-color: #efb762;
    /* a vertical margin of 20px and a horizontal margin of auto */
    margin: 20px auto;
    box-shadow: 0 0 3px 3px #efb762;
    /* Round the corners of each rectangle */
    border-radius: 9px;
    /* Rotate each rectangle to give them more of an imperfect, hand-painted look. */
    transform: rotate(-0.6deg);
}
.two {
    width: 475px;
    height: 200px;
    background-color: #8f0401;
    margin: 0 auto 20px;
    box-shadow: 0 0 3px 3px #8f0401;
    /* set its top-left radius and bottom-right radius to 8px, and top-right radius and bottom-left radius to 10px. */
    border-radius: 8px 10px;
}
.three {
    width: 91%;
    height: 28%;
    background-color: #b20403;
    margin: auto;
    filter: blur(2px);
    box-shadow: 0 0 5px 5px #b20403;
    /* Round the top-left corner by 30 pixels, the top-right by 25 pixels,
    the bottom-right by 60 pixels, and bottom-left by 12 pixels.*/
    border-radius: 30px 25px 60px 12px;
}
.one, .two {
    filter: blur(1px);
}