#logo {
    /* max function which returns the largest of a set of comma-separated values. */
    width: max(10rem, 18vw);
    background-color: #0a0a23;
    aspect-ratio: 35/4;
    padding: 0.4rem;
}
header {
    height: 50px;
    width: 100%;
    background-color: #1b1b32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;

}
main {
    padding-top: 50px;
}
h1 {
    color: #f1be32;
    font-size: min(5vw, 1.2em);
    text-align: center;
}
/* The child combinator selector > is used between selectors to target only elements that match the second selector
and are a direct child of the first selector.
This can be helpful when you have deeply nested elements and want to control the scope of your styling. */

h1, h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
    border-bottom: 4px solid #dfdfe2;
    margin-top: 0;
    padding-top: 60px;
}
.sr-only {
      /* a common pattern to visually hide text for only screen reader to read. */
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}
/* Make the h3 elements appear as a higher priority */
h3 {
    margin-top: 5px;
    padding-left: 15px;
    font-size: 1.375rem;
}
/* To prevent unnecessary repetition, target the before pseudo-element of the h3 element. */
h3::before {
    content: "Question #";
}
nav {
  width: 50%;
  max-width: 300px;
  height: 50px;
}
nav > ul {
    display: flex;
    justify-content: space-evenly;
    /* On small screens, the unordered list in the navigation bar overflows the right side of the screen.
    Fix this by using Flexbox to wrap the ul content.*/
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}
nav > ul > li{
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
}

li > a {
  color: inherit;
  text-decoration: none;
}

nav > ul > li:hover {
    color: #1b1b32;
    background-color: #dfdfe2;
    cursor: pointer;
}
section {
    width: 80%;
    max-width: 600px;
    margin: 0 auto 10px auto;
}
.info {
    padding: 10px 0 0 5px;
}
.info input {
    width: 50%;
    text-align: left;
}
.info label {
    width: 10%;
    min-width: 55px;
}
.info label, .info input {
    display: inline-block;
    text-align: right;
}
.form-row {
    margin-top: 20px;
    padding: 0 1px 0 1px;
}
input {
    font-size: 13px;
}
/* neaten the .question-block elements */
.question-block {
    text-align: left;
    display: block;
    width: 100%;
    margin-top: 20px;
    padding-top: 5px;
}
.question {
    border: none;
     padding-bottom: 0;
}
.answers-list {
    list-style: none;
    padding: 0;
}